.comments {
  .commentItem {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .ctrl {
        // margin: 10px;
        color: @primary-color;
        font-size: 18px;
        cursor: pointer;
        transition: all 0.3s ease;
        // &:hover {
        //   transform: scale(1.5);
        // }
      }
    }
    .content {
      // background: #eee;
      // border-radius: @border-radius-base;
    }
    .time {
      color: #cecece;
    }
    .commentReplys {
      .replyItem {
        display: flex;
        align-items: flex-start;
        .content {
          flex: 1;
          padding: 0;
        }
      }
    }
  }
}
