@import '~antd/dist/antd.variable.min.css';
@import './styles/antd.less';

#root-layout {
  width: 100%;
  min-height: 100vh;
}

.page {
  // margin: 16px 0;
}

.module {
  box-sizing: border-box;
  padding: 10px;
  background-color: #fff;
  border-radius: 2px;
}
